<h2>Nuevo Equipo</h2>

{{#if data.mensaje}}
<p>{{data.mensaje}}</p>
<p>{{data.nombreArchivo}}</p>
  {{#if vieneDeWeb}}
    <img src={{data.nombreArchivo}} alt="">
  {{else}}
  <img src="/uploads/imagenes/{{data.nombreArchivo}}" alt="">
  {{/if}}
{{/if}}


<div id="div-boton">
  <a href="/">
  <button id='inicio'>Volver a inicio</button>
  </a>
</div>

<div id="div-nuevoequipo">

  <form action="/nuevo" method="POST" enctype="multipart/form-data">

    <div class="tab">
      <button class="tab-link" onclick="cambiarPestaña(event, 'archivo-imagen')" id="defaultOpen">Subir archivo</button>
      <button class="tab-link" onclick="cambiarPestaña(event, 'url-imagen')">Pegar URL de la imagen</button>
    </div>
    <br>
    <div id="archivo-imagen" class="tab-content">
      <label for="input-escudo-archivo">Escudo</label>
      <input type="file" name="crestUrl" id="input-escudo-archivo">
    </div>
      <div id="url-imagen" class="tab-content">
      <label for="input-escudo-url">URL del escudo</label>
      <input type="text" name="urlImagen" id="input-escudo-url">
    </div>

    <br>
    <label for="id-nombre">Nombre</label>
    <input type="text" name="name" id="id-nombre" placeholder="Nombre">
    
    <label for="id-nombreCorto">Nombre corto</label>
    <input type="text" name="shortName" id="id-nombreCorto" placeholder="Nombre corto">

    <label for="id-acronimo">Acronimo (3 letras)</label>
    <input type="text" name="tla" id="id-acronimo" placeholder="TLA">

    <label for="id-direccion">Direccion</label>
    <input type="text" name="address" id="id-direccion">

    <label for="id-telefono">Telefono</label>
    <input type="text" name="phone" id="id-telefono">

    <label for="id-website">Website</label>
    <input type="text" name="website" id="id-website">

    <label for="id-email">E-Mail</label>
    <input type="text" name="email" id="id-email">

    <label for="id-fundacion">Año fundacion</label>
    <input type="text" name="founded" id="id-fundacion">

    <label for="id-colores">Colores del club</label>
    <input type="text" name="clubColors" id="id-colores">

    <label for="id-estadio">Estadio</label>
    <input type="text" name="venue" id="id-estadio" >

    <input type="submit" value="Agregar equipo">

    <button id="boton-agregar-jugador">Agregar jugador</button>

  </form>
</div>
<br>
